.elegirIdioma {
    background-color: rgb(216, 191, 216);
    width: 100%;
    margin: auto;
    display: flex;
    color: white;
}

.elegirIdioma .botones {
    display: inline-block;
}

.cabecera {
    background-color: rgb(185, 140, 185);
    display: flex;
    align-items: flex-end; /* alinea la imagen abajo */
    text-align: center; /* alinea el texto al centro */
}

.cabecera h1 {
    font-size: 250%;
    padding-left: 35%;
    padding-right: 35%;
}

.cabecera img {
    width: 10%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 45, 45);
    border-top: 1px solid rgb(46, 45, 45);
}

.menu li {
    float: left;
    border-right: 1px solid gray;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.menu li a:hover {
    background-color: rgb(29, 28, 28);
}

.menu li:last-child {
    border-right: none;
}

.menu .activo {
    background-color: rgb(185, 140, 185);
}


aside {
    float: right;
}