/* - - - - - - PAGINA INICIO - - - - - - */

/* - - PRE-CABECERA - - */
.elegirIdioma {
    background-color: rgb(172, 134, 172);
    width: 100%;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
}

.elegirIdioma img{
    width: 27px;
    height: 27px;
    padding: 10px;
}

.elegirIdioma .entrada {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.elegirIdioma .botones{
    display: inline-block;
    vertical-align: middle;
    
}

/* - - CABECERA - - */
.cabecera {
    background-color: rgb(185, 140, 185);
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.cabecera h1 {
    font-size: 350%;
    text-shadow: 7px 4px 5px blueviolet;
    font-family: 'Goudy Old Style', 'Garamond', 'Hoefler Text', 'Bitstream Charter', 'Georgia', serif;
    color: whitesmoke;
    padding-left: 30%;
    padding-right: 30%;
}

.cabecera img {
    padding-left: 20px;
    width: 150px;
}

/* - - MENU NAVEGACION - - */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 45, 45);
    border-top: 1px solid rgb(46, 45, 45);
}

.menu li {
    float: left;
    border-right: 1px solid gray;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.menu li a:hover:not(.activo) {
    background-color: rgb(29, 28, 28);
}

.menu li:last-child {
    border-right: none;
}

.menu .activo {
    background-color: rgb(185, 140, 185);
}

/* - - PARTE CENTRAL - - */
main {
    display: flex;
    padding-top: 10px;
}

.principal {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
    background-color: rgb(243, 224, 245);
}

aside {
    flex: 15%;
}

aside form {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.login label{
    display: block;
}

aside .botones{
    padding-top: 10px;
}

/* - - PIE DE PÁGINA - - */
footer {
    background-color: rgb(46, 45, 45);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    left: 0;
    text-align: center;
}
