/* - - - - - - PAGINA INICIO - - - - - - */

/* - - PRE-CABECERA - - */
.elegirIdioma {
    background-color: rgb(172, 134, 172);
    width: 100%;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
}

.elegirIdioma img {
    width: 27px;
    height: 27px;
    padding: 10px;
}

.elegirIdioma form {
    margin: 0;
}

.elegirIdioma .entrada {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.elegirIdioma .botones {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* - - CABECERA - - */
.cabecera {
    background-color: rgb(185, 140, 185);
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.cabecera h1 {
    font-size: 350%;
    text-shadow: 7px 4px 5px blueviolet;
    font-family: 'Goudy Old Style', 'Garamond', 'Hoefler Text', 'Bitstream Charter', 'Georgia', serif;
    color: whitesmoke;
    padding-left: 30%;
    padding-right: 30%;
}

.cabecera img {
    padding-left: 20px;
    width: 150px;
}

/* - - MENU NAVEGACION - - */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 45, 45);
    border-top: 1px solid rgb(46, 45, 45);
}

.menu li {
    float: left;
    border-right: 1px solid gray;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}


.menu li a:hover:not(.activo) {
    background-color: rgb(29, 28, 28);
}

.menu li:last-child {
    border-right: none;
}

.menu .activo {
    background-color: rgb(185, 140, 185);
}

/* - - PARTE CENTRAL - - */
main {
    display: flex;
    padding-top: 10px;
}

.principal {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
    background-color: rgb(243, 224, 245);
}

/* - - PARTE CENTRAL - - */
main {
    display: flex;
    padding-top: 10px;
}

.principal {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
    background-color: rgb(243, 224, 245);
}

/* - ASIDE - */

aside {
    flex: 15%;
    margin-left: 10px;
}

aside form {
    padding-bottom: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(172, 134, 172);
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.login label {
    display: block;
    margin: 5px;
}

.login form {
    margin-top: 10px;
}

.login .entrada input {
    width: 100%;
}

.login .botones input {
    background-color: rgb(172, 134, 172);
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.login .botones input:hover {
    background-color: rgb(185, 140, 185);
}

/* - LOGEADO - */
.logeado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(172, 134, 172);
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.logeado .imagen-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logeado .imagen-usuario img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.logeado p {
    margin: 0px;
}

.logeado .rol {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.logeado form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logeado input,
.logeado a {
    background-color: rgb(172, 134, 172);
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(172, 134, 172);
    margin: 0 5px;
    cursor: pointer;
}

.logeado input:hover,
.logeado a:hover {
    background-color: rgb(185, 140, 185);

}

/* - - TABLA LOG - - */
.log {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
}

.log table {
    width: 100%;
    border-collapse: collapse;
}

.log th,
.log td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(46, 45, 45);
}

.log th {
    background-color: rgb(172, 134, 172);
    color: white;
}

.log tr:nth-child(even) {
    background-color: rgb(243, 224, 245);
}

.log tr:nth-child(odd) {
    background-color: white;
}

/* - - NUEVA INCIDENCIA - - */
.nueva {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
}

.nueva .titulo {
    background-color: rgb(172, 134, 172);
    color: whitesmoke;
    padding: 10px;
    font-size: 24px;
    margin: 0;
}

.nueva .subtitulo {
    color: rgb(46, 45, 45);
    font-size: 20px;
    margin-bottom: 10px;
}

.nueva form {
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(208, 185, 208);
    border: 1px solid rgb(172, 134, 172);
}

.nueva .entrada label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.nueva .entrada input,
.nueva .entrada textarea {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid rgb(172, 134, 172);
}

.nueva .botones input {
    background-color: rgb(172, 134, 172);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.nueva .botones input:hover {
    background-color: rgb(185, 140, 185);
}


/* - - VER INCIDENCIAS - - */
.incidencias {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
}

.criterios .titulo {
    background-color: rgb(172, 134, 172);
    color: whitesmoke;
    padding: 10px;
    font-size: 24px;
    margin: 0;
}

.criterios .subtitulo {
    color: rgb(46, 45, 45);
    font-size: 20px;
    margin-bottom: 10px;
}

.criterios form {
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(208, 185, 208);
    border: 1px solid rgb(172, 134, 172);
}

.criterios .entrada {
    margin-bottom: 20px;
}

.criterios fieldset {
    border: 1px solid rgb(172, 134, 172);
    margin: 0;
    padding: 10px;
}

.criterios legend {
    font-weight: bold;
}

.criterios .entrada input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.criterios .texto input {
    display: block;
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid rgb(172, 134, 172);
}

.criterios .botones input {
    background-color: rgb(172, 134, 172);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.criterios .botones input:hover {
    background-color: rgb(185, 140, 185);
}

.incidencia {
    flex: 100%;
    margin: 5px 20px 5px 10px;
    padding: 0;
    border: 1px solid rgb(172, 134, 172);
}

.incidencia h1 {
    font-size: 24px;
    background-color: rgb(172, 134, 172);
    color: white;
    padding: 5px;
    margin: 0;
}

.incidencia .cabecera-incidencia {
    background-color: rgb(243, 224, 245);
    margin: 0;
    display: inline-block;
    width: 100%;
}

.incidencia .cabecera-incidencia ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.incidencia .cabecera-incidencia ul li {
    display: inline-block;
    margin: 5px;
}

.incidencia .cabecera-texto {
    font-weight: bold;
    display: inline-block;
}

.incidencia .cuerpo p {
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
}

.incidencia .opiniones {
    text-align: right;
    background-color: rgb(208, 185, 208);
}

.incidencia .opiniones form {
    padding: 0;
    margin: 0;
}

.incidencia .opiniones button {
    width: 30px;
    height: 30px;
    margin: 5px;
    background: none;
    border: none;
    padding: 0;
}

.incidencia .opiniones button img {
    width: 100%;
    height: 100%;
}

.incidencia .comentarios .fila-par {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.incidencia .comentarios .fila-impar {
    background-color: rgb(243, 224, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.incidencia .comentarios .datos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
    border-right: 2px solid rgb(172, 134, 172);
    width: 10%;
}

.incidencia .comentarios .nombre {
    font-weight: bold;
}

.incidencia .comentarios .fecha {
    font-size: 14px;
    color: gray;
}

.incidencia .comentarios .comentario {
    margin-left: 10px;
    width: 90%;
}

/* - - MIS INCIDENCIAS - - */
.mis-incidencias {
    display: block;
    flex: 85%;
}

.mis-incidencias div {
    display: block;
}


/* - - MODIFICAR USUARIO - - */
.modificar {
    background-color: rgb(208, 185, 208);
    border: 1px solid rgb(172, 134, 172);
    display: flex;
}

.modificar form {
    margin-top: 20px;
    padding: 10px;
    flex: 75%;
}

.modificar form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modificar .entrada {
    width: 70%;
}

.modificar .entrada input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid rgb(172, 134, 172);
}

.modificar .botones input {
    background-color: rgb(172, 134, 172);
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.modificar .botones input:hover {
    background-color: rgb(185, 140, 185);
}

.modificar .imagen-usuario {
    flex: 15%;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.modificar .imagen-usuario img {
    max-width: 100%;
    height: auto;
}

.modificar .contrasenia-contenedor {
    display: flex;
}

.modificar .contrasenia-contenedor .campo {
    width: 50%;
}

.modificar .contrasenia-contenedor .campo .password1 {
    width: 90%;
}

.modificar .contrasenia-contenedor .campo .password2 {
    width: 100%;
}

/* - - GESTION BBDD - - */
.gestion {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
    text-align: center;
}

.gestion form {
    display: inline-block;
}

.gestion .botones input {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(172, 134, 172);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.gestion .botones input:hover {
    background-color: rgb(185, 140, 185);
}

.gestion .botones input:hover:last-child {
    background-color: rgb(46, 45, 45);
    color: rgba(231, 17, 17, 0.868);
}

.gestion .seguridad {
    padding: 0px 10px 10px 10px;
    margin: 5px;
    background-color: rgb(46, 45, 45);
    color: white;
    border: 1px solid rgb(172, 134, 172);
}

.gestion .seguridad input {
    border: 1px solid rgb(172, 134, 172);
}

/* - - GESTIÓN USUARIOS - - */
.principalGestion {
    flex: 85%;
    margin: 5px 20px 5px 10px;
    padding: 0 5% 0 15px;
}

.gestionUsuarios form {
    text-align: center;
}

.gestionUsuarios .botones input {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(172, 134, 172);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.gestionUsuarios .botones input:hover {
    background-color: rgb(185, 140, 185);
}

.usuario {
    display: flex;
    border: 1px solid rgb(185, 140, 185);
    margin: 5px;
    background-color: rgb(243, 224, 245);
}

.usuario .foto {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.usuario .foto img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.usuario .contenido {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
  }
  
  .usuario .fila {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 10px;
    width: 100%;
  }


.usuario .contenido ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.usuario .fila .etiqueta {
    font-weight: bold;
    display: inline-block;
}

.usuario .fila li {
    display: inline-block;
    margin: 5px;
}

.usuario .opciones {
    text-align: center;
    background-color: rgb(208, 185, 208);
    padding: 5px;
}

.usuario .opciones form {
    padding: 0;
    margin: 0;
}

.usuario .opciones button {
    width: 30px;
    height: 30px;
    margin: 5px;
    background: none;
    border: none;
    padding: 0;
}

.usuario .opciones button img {
    width: 100%;
    height: 100%;
}


/* - - PIE DE PÁGINA - - */
footer {
    background-color: rgb(46, 45, 45);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}

/* - - REGLAS GENERALES - - */
.error {
    color: red;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    font-family: 'Times New Roman', Times, serif;
}

button {
    cursor: pointer;
}