/**
 * Fichero para establecer las reglas de estilo de la página de registro,
 * 
 * Autores: Carlota de la Vega Soriano y Manuel Vico Arboledas.
 */

.registro {
    border: 1px solid grey;
    padding: 0px;
    width: 100%;
}

.registro h1 {
    color: gray;
}

.registro .subform:hover {
    background-color: rgba(196, 167, 196, 0.844);
}

.registro .subform:hover h1 {
    color: rgb(46, 45, 45);
}

.registro .subform {
    display: flex;
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 10px;
}

.registro .subform h1 {
    border: 1px solid lightgrey;
    border-style:dotted;
    border-top: white;
    border-bottom: white;
    border-left: white;
    padding: 5px;
    margin: 0px;
    width: 20%;
}

.registro .datos {
    width: 65%;
}

.registro .entrada {
    padding: 10px;
}

.registro .entrada label {
    display: block;
    font-size: smaller;
}

.registro .entrada input, .registro .entrada select {
    border: 1px solid lightgrey;
    padding: 5px;
    width: 100%;
}

.registro .ayuda {
    display:none;
    width: 10%;
    margin: 0px 0px 0px 30px;
}

.registro .subform:hover .ayuda {
    display: block;
    color: rgb(82, 15, 163);
}

.registro .botones {
    text-align: center;
    border: 1px solid lightgrey;
    padding: 5px 10px;
    width: 50%;
    margin: auto;
}

.registro .error {
    color: red;
}

